# 项目排除路径
/dist/
/node_modules/
/node_modules/@babel/parser/
/node_modules/@babel/types/
/node_modules/@jridgewell/resolve-uri/
/node_modules/@jridgewell/sourcemap-codec/dist/
/node_modules/@jridgewell/sourcemap-codec/LICENSE
/node_modules/@jridgewell/sourcemap-codec/README.md
/node_modules/@jridgewell/sourcemap-codec/types/range-mappings.d.cts.map
/node_modules/@jridgewell/sourcemap-codec/types/range-mappings.d.mts.map
/node_modules/@jridgewell/sourcemap-codec/types/scopes.d.cts.map
/node_modules/@jridgewell/sourcemap-codec/types/scopes.d.mts.map
/node_modules/@jridgewell/sourcemap-codec/types/sourcemap-codec.d.cts.map
/node_modules/@jridgewell/sourcemap-codec/types/sourcemap-codec.d.mts.map
/node_modules/@jridgewell/sourcemap-codec/types/strings.d.cts.map
/node_modules/@jridgewell/sourcemap-codec/types/strings.d.mts.map
/node_modules/@jridgewell/sourcemap-codec/types/vlq.d.cts.map
/node_modules/@jridgewell/sourcemap-codec/types/vlq.d.mts.map
/node_modules/@jridgewell/trace-mapping/dist/
/node_modules/@jridgewell/trace-mapping/LICENSE
/node_modules/@jridgewell/trace-mapping/README.md
/node_modules/@jridgewell/trace-mapping/types/binary-search.d.cts.map
/node_modules/@jridgewell/trace-mapping/types/binary-search.d.mts.map
/node_modules/@jridgewell/trace-mapping/types/by-source.d.cts.map
/node_modules/@jridgewell/trace-mapping/types/by-source.d.mts.map
/node_modules/@jridgewell/trace-mapping/types/flatten-map.d.cts.map
/node_modules/@jridgewell/trace-mapping/types/flatten-map.d.mts.map
/node_modules/@jridgewell/trace-mapping/types/resolve.d.cts.map
/node_modules/@jridgewell/trace-mapping/types/resolve.d.mts.map
/node_modules/@jridgewell/trace-mapping/types/sort.d.cts.map
/node_modules/@jridgewell/trace-mapping/types/sort.d.mts.map
/node_modules/@jridgewell/trace-mapping/types/sourcemap-segment.d.cts.map
/node_modules/@jridgewell/trace-mapping/types/sourcemap-segment.d.mts.map
/node_modules/@jridgewell/trace-mapping/types/strip-filename.d.cts.map
/node_modules/@jridgewell/trace-mapping/types/strip-filename.d.mts.map
/node_modules/@jridgewell/trace-mapping/types/trace-mapping.d.cts.map
/node_modules/@jridgewell/trace-mapping/types/trace-mapping.d.mts.map
/node_modules/@jridgewell/trace-mapping/types/types.d.cts.map
/node_modules/@jridgewell/trace-mapping/types/types.d.mts.map
/node_modules/@types/chai/LICENSE
/node_modules/@types/chai/README.md
/node_modules/@types/chrome/LICENSE
/node_modules/@types/chrome/README.md
/node_modules/@types/deep-eql/LICENSE
/node_modules/@types/deep-eql/README.md
/node_modules/@types/estree/LICENSE
/node_modules/@types/estree/README.md
/node_modules/@types/filesystem/LICENSE
/node_modules/@types/filesystem/README.md
/node_modules/@types/filewriter/LICENSE
/node_modules/@types/filewriter/README.md
/node_modules/@types/har-format/LICENSE
/node_modules/@types/har-format/README.md
/node_modules/@types/jsdom/LICENSE
/node_modules/@types/jsdom/README.md
/node_modules/@types/node/LICENSE
/node_modules/@types/node/README.md
/node_modules/@types/node/test/
/node_modules/@types/tough-cookie/LICENSE
/node_modules/@types/tough-cookie/README.md
/node_modules/@vitejs/plugin-vue/LICENSE
/node_modules/@vitejs/plugin-vue/README.md
/node_modules/@vitest/mocker/
/node_modules/@vitest/spy/dist/index.js
/node_modules/@vitest/spy/LICENSE
/node_modules/@vitest/spy/README.md
/node_modules/@vue/compiler-core/
/node_modules/@vue/compiler-dom/
/node_modules/@vue/compiler-sfc/
/node_modules/@vue/compiler-ssr/dist/compiler-ssr.cjs.js
/node_modules/@vue/compiler-ssr/LICENSE
/node_modules/@vue/compiler-ssr/README.md
/node_modules/@vue/reactivity/
/node_modules/@vue/runtime-core/
/node_modules/@vue/runtime-dom/
/node_modules/@vue/server-renderer/
/node_modules/@vue/shared/
/node_modules/@vue/test-utils/dist/vue-test-utils.cjs.js
/node_modules/@vue/test-utils/LICENSE
/node_modules/@vue/test-utils/README.md
/node_modules/assertion-error/
/node_modules/csstype/
/node_modules/entities/
/node_modules/entities/src/generated/.eslintrc.json
/node_modules/es-module-lexer/
/node_modules/estree-walker/
/node_modules/estree-walker/dist/esm/estree-walker.js
/node_modules/estree-walker/dist/umd/
/node_modules/estree-walker/types/tsconfig.tsbuildinfo
/node_modules/expect-type/
/node_modules/expect-type/dist/branding.js
/node_modules/expect-type/dist/index.js
/node_modules/expect-type/dist/messages.js
/node_modules/expect-type/dist/overloads.js
/node_modules/expect-type/dist/utils.js
/node_modules/fdir/dist/index.cjs
/node_modules/fdir/dist/index.mjs
/node_modules/fdir/LICENSE
/node_modules/fdir/README.md
/node_modules/jsdom/
/node_modules/magic-string/dist/index.mjs
/node_modules/magic-string/LICENSE
/node_modules/magic-string/README.md
/node_modules/nanoid/
/node_modules/nanoid/non-secure/index.cjs
/node_modules/nanoid/non-secure/index.js
/node_modules/obug/
/node_modules/parse5/
/node_modules/parse5/dist/common/doctype.js
/node_modules/parse5/dist/common/error-codes.js
/node_modules/parse5/dist/common/foreign-content.js
/node_modules/parse5/dist/common/html.js
/node_modules/parse5/dist/common/token.js
/node_modules/parse5/dist/common/unicode.js
/node_modules/parse5/dist/index.js
/node_modules/parse5/dist/parser/formatting-element-list.js
/node_modules/parse5/dist/parser/index.js
/node_modules/parse5/dist/parser/open-element-stack.js
/node_modules/parse5/dist/serializer/index.js
/node_modules/parse5/dist/tokenizer/index.js
/node_modules/parse5/dist/tokenizer/preprocessor.js
/node_modules/parse5/dist/tree-adapters/default.js
/node_modules/parse5/dist/tree-adapters/interface.js
/node_modules/picocolors/
/node_modules/postcss/
/node_modules/source-map-js/
/node_modules/std-env/dist/index.mjs
/node_modules/std-env/LICENCE
/node_modules/std-env/README.md
/node_modules/tinybench/dist/index.js
/node_modules/tinybench/LICENSE
/node_modules/tinybench/README.md
/node_modules/tinyexec/dist/main.mjs
/node_modules/tinyexec/LICENSE
/node_modules/tinyexec/README.md
/node_modules/tinyglobby/dist/index.cjs
/node_modules/tinyglobby/dist/index.mjs
/node_modules/tinyglobby/LICENSE
/node_modules/tinyglobby/README.md
/node_modules/undici-types/LICENSE
/node_modules/undici-types/README.md
/node_modules/vite/LICENSE.md
/node_modules/vite/README.md
/node_modules/vitest/browser/context.js
/node_modules/vitest/dist/
/node_modules/vitest/index.cjs
/node_modules/vitest/LICENSE.md
/node_modules/vitest/README.md
/node_modules/vitest/suppress-warnings.cjs
/node_modules/vitest/vitest.mjs
/node_modules/vue/
/node_modules/vue/jsx-runtime/index.js
/node_modules/vue/jsx-runtime/index.mjs
/node_modules/vue/server-renderer/index.js
/node_modules/vue/server-renderer/index.mjs
/node_modules/vue-component-type-helpers/